{%- assign sku_list = section.settings.list | replace: ' ', '' -%}
{%- assign list = sku_list | replace: ',', '%20OR%20' -%}

<script>
  console.log( {{ list | json }} );
</script>


<div class="section-custom-recommendations">
  <div class="page-width">
    <div class="section__inner">
      <h2>Title</h2>

      <div class="section__items">
        <div class="slider-rec-pd">
          <div class="swiper">
            <div class="swiper-wrapper">

            </div><!-- /.swiper-wrapper -->
          </div><!-- /.swiper-container -->
        </div>
        <!-- /.slider-rec-pd -->
      </div>
      <!-- /.section__items -->
    </div>
    <!-- /.section__inner -->
  </div>
  <!-- /.page-width -->
</div>
<!-- /.section-recommendations -->

<script type="text/javascript">

  fetch(`/search?q={{list}}`)
    .then(res => res.text())
    .then(data => {
      const html = new DOMParser().parseFromString(data, 'text/html');
      const items = html.querySelector('.js-search-results').querySelectorAll('li');
      const sliderItems = document.querySelector('.slider-rec-pd .swiper-wrapper');

      items.forEach(item => {
        const newHtml = `
          <div class="swiper-slide">
            <div class="slider__item">
              ${item.innerHTML}
            </div>
          </div>
        `

        sliderItems.innerHTML = sliderItems.innerHTML + newHtml;
      });


      const sliders = document.querySelectorAll('.slider-rec-pd');

      sliders.forEach((slider) => {
        const initSlider = slider.querySelector('.swiper');
        const dots = slider.querySelector('.swiper-pagination');
        const slidesLength = initSlider.querySelectorAll('.swiper-slide').length;
        const swiperWrapper = initSlider.querySelector('.swiper-wrapper');


        let centeredSlides = true;
        let centeredSlidesBounds = true;

        if (slidesLength > 5) {
          centeredSlides = false;
          centeredSlidesBounds = false;
        }


        const mySwiper = new Swiper(initSlider, {
          loop: false,
          slidesPerView: 5,
          spaceBetween: 80,
          centeredSlides,
          centeredSlidesBounds,
          // pagination: {
          //   el: dots,
          //   clickable: true,
          // },
        });

        if (slidesLength <= 5) {
          mySwiper.disable();
        }

        if (slidesLength < 5) {
          swiperWrapper.style.justifyContent = 'center';
        }
      });
    })
</script>

{% schema %}
{
  "name": "SKU Recommendations",
  "settings": [
    {
      "type": "text",
      "id": "list",
      "label": "SKU LIST"
    }
  ],
  "presets": [
    {
      "name": "SKU Recommendations",
      "category": "Sections"
    }
  ]
}
{% endschema %}