{{ 'section-order-status.css' | asset_url | stylesheet_tag }}

<div class="section-order-status">
  <div class="shell" style="max-width: 1200px; margin: 0 auto;">
    <label for="order_id">Order ID</label>
    <input type="number" name="order_id" id="order_id" class="js-order-id section__input">

    <div style="margin-bottom: 40px;">
      <button class="js-find-order">
        Submit
      </button>
    </div>

    <div class="section__inner">
      <div class="section__customer">
        <div class="section__customer-info">
          CUSOMTER/ORDER
        </div>
        <!-- /.section__customer-info -->

        <div class="section__customer-billing">
          BILLING
        </div>
        <!-- /.section__customer-billing -->
      </div>
      <!-- /.section__customer -->

      <div class="section__items">
        <div class="section__items-inner">
          <table>
            <thead>
              <th>Quantity</th>
              <th>Name</th>
              <th>SKU</th>
              <th>Price</th>
            </thead>

            <tbody>
            </tbody>

            <tfoot>
            </tfoot>
          </table>
        </div>
        <!-- /.section__items-inner -->
      </div>
      <!-- /.section__items -->
    </div>
    <!-- /.section__inner -->

    <div class="section__message">
      <p style="font-size: 22px; color:red;">
        Invalid order ID <br>
        Please check again your order ID
      </p>
    </div>
    <!-- /.section__message -->
  </div>
  <!-- /.shell -->
</div>
<!-- /.section-order-status -->

{% schema %}
{
  "name": "Order Info",
  "settings": []
}
{% endschema %}