{% assign product_id = product.id %}

<div class="section-recommendations">
  <div class="page-width">
    <div class="section__inner">
      <h2>Title</h2>

      <div class="section__items">

      </div>
      <!-- /.section__items -->
    </div>
    <!-- /.section__inner -->
  </div>
  <!-- /.page-width -->
</div>
<!-- /.section-recommendations -->

<script type="text/javascript">
  fetch(`/recommendations/products.json?product_id={{product_id}}&limit=4`, {
    headers: {
      'Content-Type': 'application/json',
    },
    method: 'GET',
  }).then(res => {
    return res.json();
  }).then(data => {
    console.log(data, 'data');
  })
</script>

{% schema %}
{
  "name": "Section Recommendations",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "text"
    }
  ]
}
{% endschema %}