.product-horizontal img {
  width: 100%;
  height: auto;
}

.product-horizontal .product__inner {
  display: flex;
  align-items: center;
}

.product-horizontal .product__qty,
.product-horizontal .product__price,
.product-horizontal .product__description,
.product-horizontal .product__image,
.product-horizontal .product__title {
  width: 20%;
  padding: 10px;
}