.product-dynamic {
  padding: 100px 0;
}

.product-dynamic .product__inner {
  display: flex;
}

.product-dynamic .product__images {
  width: 50%;
}

.product-dynamic .product__content {
  width: 50%;
  padding-left: 70px;
  text-align: right;
  color: #000;
}

.product-dynamic .product__title {
  font-size: 42px;
  color: #000;
  margin: 0 0 20px;
}

.product-dynamic .product__description {
  max-width: 400px;
  margin-left: auto;
}

.product-dynamic .product__price {
  margin-bottom: 25px;
}

.product-dynamic .product__price span,
.product-dynamic .product__price del,
.product-dynamic .product__price ins {
  font-size: 24px;
  color: #000;
}

.product-dynamic .product__price ins {
  text-decoration: none;
  margin-left: 10px;
  color: red;
}

.product-dynamic .product__description {
  margin-bottom: 32px;
}

.product-dynamic .product__description,
.product-dynamic .product__description p {
  font-size: 18px;
  color: #000;
}

.product-dynamic .product__variants {
  margin-bottom: 35px;
}

.product-dynamic .product__variants select {
  min-width: 300px;
  height: 40px;
  border-radius: 0;
  padding: 0 3px;
  border: solid 1px #000;
}

.product-dynamic .product__variants select:focus-visible {
  outline: 0;
  box-shadow: none;
}

.product-dynamic .product__btn {
  padding: 10px 45px;
  background-color: transparent;
  border: solid 1px #000;
  border-radius: 0;
  cursor: pointer;
  transition: background-color .5s, color .5s;
}

.product-dynamic .product__btn:hover {
  background-color: #000;
  color: #fff;
}

.product-dynamic .product__image-inner {
  position: relative;
  padding-top: 110%;
}

.product-dynamic .product__image-inner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-dynamic .slider-main-images {
  margin-bottom: 25px;
}

.product-dynamic .slider-thumbs-images .product__image-inner:before {
  content: '';
  position: absolute;
  border: solid 1px #fff;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: border-color .4s, background-color .4s;
}

.product-dynamic .slider-thumbs-images .product__image-inner {
  cursor: pointer;
}

.product-dynamic .slider-thumbs-images .swiper-slide-thumb-active .product__image-inner:before {
  background-color: rgba(255, 255, 255, .2);
  border-color: #000;
}

@media(max-width: 767px) {
  .product-dynamic .product__inner {
    display: block;
  }

  .product-dynamic .product__images,
  .product-dynamic .product__content {
    width: 100%;
    padding: 0;
  }

  .product-dynamic .product__images {
    margin-bottom: 30px;
  }

  .product-dynamic .product__title {
    font-size: 34px;
    margin-bottom: 5px;
  }

  .product-dynamic .product__price {
    margin-bottom: 10px;
  }

  .product-dynamic .product__price span,
  .product-dynamic .product__price del,
  .product-dynamic .product__price ins {
    font-size: 20px;
  }

  .product-dynamic .product__description {
    margin-bottom: 23px;
  }

  .product-dynamic .product__description,
  .product-dynamic .product__description p {
    font-size: 15px;
  }

  .product-dynamic .product__variants {
    margin-bottom: 24px;
  }
}