.section-order-status {
  padding: 60px 0;
}

/* Chrome, Safari, Edge, Opera */
.section__input::-webkit-outer-spin-button,
.section__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.section__input[type=number] {
  -moz-appearance: textfield;
}

.section-order-status .section__customer {
  display: flex;
  margin: -20px;
}

.section-order-status .section__customer-info,
.section-order-status .section__customer-billing {
  max-width: 500px;
  width: 50%;
  padding: 20px;
  border: solid 3px yellow;
  margin: 20px;
}

.section__items {
  padding: 20px;
  border: solid 3px yellow;
  max-width: 1040px;
  margin-top: 40px;
}

.section-order-status .section__message,
.section-order-status .section__inner {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}



.section-order-status.has-order .section__inner,
.section-order-status.has-no-order .section__message {
  opacity: 1;
  visibility: visible;
  position: relative;
  transition: opacity .4s, visibility .4s;
}